{%extends 'base.html'%}

{%block title%} Tickets {%endblock%}

{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Tasks</h1>
            </div>
        </div>
        {% if count < 1 %}
        <div class="row">
            <div class="col-lg-12">
                <h2>No available tickets</h2>
                <a href="{{url_for('tickets.create')}}"><button type="button" class="btn btn-success">Create one</button></a>
            </div>
        </div>
        {% else %}
        {%for ticket in tickets_list%}
        <div class="row">
            <div class="col-lg-12">
                <a class="nav-link" href="{{url_for('tickets.ticket_item', slug = ticket.slug)}}">{{ ticket.name }}</a>
                    <p>Assigned: {{ ticket.unit.name }}</p>
                    <p>Created: {{ ticket.created.strftime('%m.%d.%Y %H:%M:%S') }}</p>
                    <p>Progress: (progress status here)</p>
            </div>
        </div>
        {%endfor%}
        {% endif %}
    </div>

{%endblock%}