{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="text-center">
    <h1>LogIn</h1>
</div>
<div class="alert alert-warning">
    {% for message in get_flashed_messages() %}
        {{message}}
    {% endfor %}
</div>
<div class="text-center">
    {{ wtf.quick_form(form) }}
</div>
<div class="col-lg-6">
<h3>New user?</h3>
</div>
<div class="col-lg-6">
<a href="{{url_for('auth.register')}}">
    <button type="button" class="btn btn-success">Click here for register</button>
</a>
</div>
{% endblock %}