{%extends 'base.html'%}

{%block title%} Главная {%endblock%}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-lg-6 text center">
        {% if current_user.username %}
            <p>News and bla bla bla</p>                
        {% else %}
            <h1>Hello Stranger!</h1>
            <h3>You must be logged in for use services</h3>
            <a class="nav-link" href="{{url_for('auth.login')}}">
                <button type="button" class="btn btn-success">Login</button>
                </a>
        {% endif %}
        </div>
        </div>
    <h6>HelpDesk by Tony Prilipa</h6>
    </div>



{%endblock%}