{%extends 'base.html'%}

{%block title%} Главная {%endblock%}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-lg-6 text center">
            <h1>CinemaCiti Техподдержка</h1>
            {{ current_user.username }}
            <h3>Для продолжения выберите категорию</h3>
            <a class="nav-link" href="{{url_for('tickets.index')}}">
                <button type="button" class="btn btn-warning">Задачи</button>
                </a>
            <a class="nav-link" href="{{url_for('tickets.create')}}">
                <button type="button" class="btn btn-warning">Создать задачу</button>
                </a>
            <a class="nav-link" href="{{url_for('users.index')}}">
                <button type="button" class="btn btn-warning">Пользователи</button>
                </a>
        </div>
        </div>
    </div>
</div>

{%endblock%}